{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="login-box border rounded shadow-sm">
    <h4 class="mb-5"><i class="fas fa-sign-in-alt"></i>로그인</h4>
    <form method="post" class="post-form" action="{% url 'common:login' %}">
      {% csrf_token %}
      <!-- 로그인 성공후 이동되는 url -->
      <input type="hidden" name="next" value="{{ next }}" />
      {% include "error/form_error.html" %}
      <div class="form-group">
        <label for="username">사용자ID</label>
        <input
          type="text"
          class="form-control"
          name="username"
          id="username"
          placeholder="id를 입력하세요"
          value="{{ form.username.value|default_if_none:'' }}"
        />
      </div>
      <div class="form-group">
        <label for="password">비밀번호</label>
        <input
          type="password"
          class="form-control"
          name="password"
          id="password"
          placeholder="password를 입력하세요 "
          value="{{ form.password.value|default_if_none:'' }}"
        />
      </div>
      <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>로그인</button>

      <a href="{% url 'common:signup' %}" class="btn btn-primary"><i class="fas fa-user-plus"></i>회원가입</a>
    </form>
  </div>
</div>
{% endblock %}
